extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-indigo
                h3(align='center') Armazenamento de Ficheiros
            br
            .w3-container
                h3.w3-blue(align='center') Upload de ficheiro
                form.w3-container(action='/processaForm' method='POST' enctype='multipart/form-data')
                    label.w3-teal
                        b Ficheiro
                    input.w3-input.w3-border.w3-light-grey(type='file' name='ficheiro')
                    label.w3-teal
                        b Descrição
                    input.w3-input.w3-border.w3-light-grey(type='text' name='descricao')
                    input.w3-btn.w3-blue-grey(type='submit' value='Enviar')
                br
                hr.w3-color-teal(style='height: 2px;color: #008080; background-color: #008080;')
            .w3-container
                h3.w3-blue(align='center') Catálogo de ficheiros
                table.w3-table-all
                    tr
                        th Nome do ficheiro
                        th Descrição
                        th Data de Submissão
                    each ficheiro in ficheiros     
                        tr
                            td
                                a(href='http://localhost:7000/uploaded/' + ficheiro.nome)= ficheiro.nome
                            td= ficheiro.descricao
                            td= ficheiro.dataRegisto
                br
            footer.w3-container.w3-indigo
                address Gerado por FormApp
