extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-indigo
                h3(align='center') Ficheiro Recebido
            br
            .w3-container
                table.w3-table-all
                    tr
                        th Ficheiro
                        th Estado
                    tr
                        td= ficheiro
                        td= estado
            br
            footer.w3-container.w3-indigo
                address Gerado por FormApp
                a(href='/') Voltar à página principal